.profile__img img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: 2% 4%;
    float: left;
    height: 350px;
    padding-bottom: 40px;
  }
  
  .profile__text{
      text-align: left;
      padding: 0 5% 5%;
      font-size: 0.85rem;
  }
  .heading{
      text-align: center;
  }
  
  @media only screen and (max-width: 420px) {
    .profile__text{
      text-align: center;
    }
    
  }
